.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: var(--bg-body);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 4px 1n0px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 14px var(--shadow-color);
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-text);
  text-transform: capitalize;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btnEdit {
  background-color: var(--color-primary);
  color: #000;
}

.btnRemove {
  background-color: crimson;
  color: white;
}
.btn:hover {
  opacity: 0.85;
}
