.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  margin-top: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-body);
  color: var(--color-text);
}

.cardGrid {
  display: grid;
  height: 275px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 15px;
  margin-top: 20px;
  justify-items: center;
}

.card {
  min-width: 200px;
  max-width: 220px;
  background-color: var(--bg-body);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 0px 15px 15px 15px;
  box-shadow: 0px 4px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 14px var(--shadow-color);
}

.cardImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #1e1e1e; /* fallback quando não há imagem */
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-text);
  text-transform: capitalize;
}

.cardText {
  font-size: 14px;
  margin-bottom: 6px;
  color: var(--color-text);
}

.cardActions,
.btn_Actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  flex: 1;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  max-width: 150px;
}

.btnEdit {
  background-color: var(--color-primary);
  color: #000;
}

.btnRemove {
  background-color: crimson;
  color: white;
}

.btn:hover {
  opacity: 0.85;
}

/* --------- Inputs e botões do Modal --------- */

.input {
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--bg-body);
  color: var(--color-text);
}

.actions {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 15px;
}

.status {
  display: flex;
  flex-direction: column;
}

.btnConfirm {
  padding: 8px 16px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.btnCancel {
  padding: 8px 16px;
  background-color: crimson;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
