.NavbarAdmin_Container {
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 250px; */
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.navItem {
  padding: 12px;
  margin: 4px 0;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.navItem:hover {
  background-color: #334155;
}

.navItem.active {
  background-color: #141c25;
  color: #38bdf8;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
