:root {
  /* Cores principais */
  --color-text: #c2e0f9;
  --color-primary: #63debe;

  /* Backgrounds */
  --bg-body: #0b0f17;
  --bg-page: #141c25;

  /* Bordas e sombras */
  --border-color: #334155;
  --shadow-color: #222b37;
  --shadow-color-inputs: #334155;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body);
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  margin: 0 10px 10px 10px;
  min-height: 0;
}

.navbar {
  display: flex;
  margin-right: 5px;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px 5px var(--shadow-color);
  flex: 0 0 250px;
}

.header_container {
  margin: 10px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px 5px var(--shadow-color);
}

.page {
  background-color: var(--bg-page);
  margin-left: 5px;
  padding: 15px;
  border: 3px solid var(--border-color);
  box-shadow: inset 0px 0px 20px 5px var(--shadow-color);
  border-radius: 15px;
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 10px;
  margin: 4px 0;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.2s;
}

.text {
  padding: 10px;
  margin: 0;
}
