.container {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body);
  min-height: 100vh;
}

.header {
  padding: 20px;
  background: var(--bg-page);
  text-align: center;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px 5px var(--shadow-color);
}

.title {
  margin: 0;
  font-size: 2rem;
  color: var(--color-primary);
}

.filtersContainer {
  display: flex;
  flex-direction: column;
}

.filterSelectContainer {
  display: flex;
  padding: 5px;
  align-items: center;
}

.filterSelectContainer select {
  margin: 5px;
}

.filterSelectContainer div {
  margin-left: 5px;
}
.searchInput {
  margin-top: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-body);
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin: 10px 0 20px;
  font-size: 1.2rem;
  color: var(--color-text);
  opacity: 0.8;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--color-primary);
  color: var(--bg-body);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

.btn:hover {
  background-color: transparent;
  color: var(--color-primary);
}

.loading {
  color: var(--color-primary);
  text-align: center;
  margin-top: 50px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.productCard {
  background-color: var(--bg-page);
  border-radius: 15px;
  border: 3px solid var(--border-color);
  box-shadow: inset 0px 0px 20px 5px var(--shadow-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardBody {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 5px;
}

.productName {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text);
  margin: 0 0 0.5rem 0;
}

.productPrice {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.8rem;
  margin-top: auto;
}

.addToCartBtn {
  background-color: var(--color-primary);
  color: var(--bg-body);
  font-weight: bold;
  border: 2px solid var(--border-color);
  padding: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

.addToCartBtn:hover {
  background-color: transparent;
  color: var(--color-primary);
}
